<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nanyang.academy.mapper.ActivityNoticeMapper">

    <select id="getActivityNoticePage" resultType="com.nanyang.academy.entity.dto.ActivityNoticeVo">
        select t.*
        from activity_notice t
        ${ew.customSqlSegment}
    </select>
</mapper>
