<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nanyang.academy.mapper.SysUserMapper">
	<resultMap type="com.nanyang.academy.entity.SysUser" id="SysUserResult">
		<id     property="userId"       column="user_id"      />
		<result property="deptId"       column="dept_id"      />
		<result property="userName"     column="user_name"    />
		<result property="nickName"     column="nick_name"    />
		<result property="openid"        column="openid"        />
		<result property="email"        column="email"        />
		<result property="phone"  		column="phone"  />
		<result property="sex"          column="sex"          />
		<result property="avatar"       column="avatar"       />
		<result property="password"     column="password"     />
		<result property="status"       column="status"       />
		<result property="isDelete"      column="is_delete"     />
		<result property="loginIp"      column="login_ip"     />
		<result property="loginDate"    column="login_date"   />
		<result property="createUser"     column="create_user"    />
		<result property="createTime"   column="create_time"  />
		<result property="updateUser"     column="update_user"    />
		<result property="updateTime"   column="update_time"  />
		<result property="remark"       column="remark"       />
		<result property="orderStatus"       column="order_status"       />
		<result property="company"       column="company"       />
		<result property="project"       column="project"       />
		<result property="area"       column="area"       />
		<result property="property"       column="property"       />
		<result property="userType"       column="user_type"       />
		<result property="areaName"       column="areaName"       />
		<result property="smartName"       column="smartName"       />
		<result property="isBindSmart"       column="isBindSmart"       />
		<result property="online"       column="online"       />
		<result property="isMessages"       column="is_messages"       />

		<result property="isRemind"       column="is_remind"       />
		<result property="remindUrl"       column="remind_url"       />
		<result property="remarkInfo"       column="remark_info"       />
		<result property="remarkName"       column="remark_name"       />

		<result property="customStatus"       column="custom_status"       />
		<result property="customReply"       column="custom_reply"       />

		<association property="dept" column="dept_id" javaType="com.nanyang.academy.entity.SysDepartment" resultMap="deptResult" />
		<collection  property="roles"   javaType="java.util.List"           resultMap="RoleResult" />
	</resultMap>

	<resultMap id="deptResult" type="com.nanyang.academy.entity.SysDepartment">
		<id     property="deptId"    column="dept_id"     />
		<result property="pId"  column="p_id"   />
		<result property="deptName"  column="dept_name"   />
		<result property="isDelete"    column="dept_status" />
	</resultMap>

	<resultMap id="RoleResult" type="com.nanyang.academy.entity.SysRole">
		<id     property="roleId"       column="role_id"        />
		<result property="roleName"     column="role_name"      />
		<result property="isDelete"       column="role_status"    />
	</resultMap>

	<select id="login" resultType="com.nanyang.academy.entity.SysUser">
		select * from sys_user ${ew.customSqlSegment}
	</select>
	<!--u.is_remind,u.remind_url,-->
	<sql id="selectUserVo">
		select u.user_id, u.dept_id, u.user_name, u.nick_name,u.smartRealName,u.isBindSmart,
		       u.company,u.project,a.dict_label areaName,u.area,u.property,u.user_type,u.openid,
		       u.email, u.avatar, u.phone, u.password, u.sex, u.status,u.online,u.is_messages,
			   u.is_remind,u.remind_url,u.remark_name,u.remark_info,u.custom_status,u.custom_reply,
		       u.is_delete, u.login_ip, u.login_date, u.create_user, u.create_time, u.remark,
			   d.dept_id, d.p_id, d.dept_name,  d.is_delete as dept_status,
			   r.role_id, r.role_name,  r.is_delete as role_status,u.order_status
		from sys_user u
				 left join sys_department d on u.dept_id = d.dept_id
				 left join sys_role_user ur on u.user_id = ur.user_id
				 left join sys_role r on r.role_id = ur.role_id
			     left join (select dict_label,dict_value from sys_dict_data where dict_type = 'sys_area') a on a.dict_value = u.area
	</sql>
	<!--u.is_remind,u.remind_url,-->
	<select id="selectUserListPage" resultType="com.nanyang.academy.entity.dto.UserModelVo">
		select u.user_id, u.user_type, u.nick_name,u.order_status,u.smartRealName,u.isBindSmart,
		       u.user_name, u.phone,u.avatar, u.sex,a.dict_label areaName,u.area,u.company,u.project,
		       u.status, u.login_ip, u.login_date, u.create_user,dp.name property,
			   u.is_remind,u.remind_url,u.remark_name,u.remark_info,u.custom_status,u.custom_reply,
		       u.create_time, u.remark,r.role_name roleName,u.online,u.is_messages
		from sys_user u
				 left join (select dict_label,dict_value from sys_dict_data where dict_type = 'sys_area') a on a.dict_value = u.area
				 left join sys_role_user ur on u.user_id = ur.user_id
				 left join sys_role r on r.role_id = ur.role_id
				 left join (select id,name from sys_dict_label where type = 2) dp on dp.id = u.property
			${ew.customSqlSegment}
	</select>

	<select id="getUserList" parameterType="com.nanyang.academy.entity.SysUser" resultMap="SysUserResult">
		select u.user_id, u.dept_id, u.user_type,u.nick_name,u.order_status,
		       u.user_name, u.email, u.avatar, u.phone, u.password, u.sex, u.status,
		       u.is_delete, u.login_ip, u.login_date, u.create_user, u.create_time,
				u.is_remind,u.remind_url,u.remark_name,u.remark_info,u.custom_status,u.custom_reply,
		       u.remark, d.dept_name, d.leader,u.is_messages  from sys_user u
		left join sys_department d on u.dept_id = d.dept_id
		where u.is_delete = 0
		<if test="userId != null and userId != 0">
			AND u.user_id = #{userId}
		</if>
		<if test="userName != null and userName != ''">
			AND u.user_name like concat('%', #{userName}, '%')
		</if>
		<if test="userType != null and userType != ''">
			AND u.user_type = #{userType}
		</if>
		<if test="status != null and status != ''">
			AND u.status = #{status}
		</if>
		<if test="phone != null and phone != ''">
			AND u.phone like concat('%', #{phone}, '%')
		</if>
		<if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
			AND date_format(u.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
		</if>
		<if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
			AND date_format(u.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
		</if>
		<if test="deptId != null and deptId != 0">
			AND (u.dept_id = #{deptId} OR u.dept_id IN ( SELECT t.dept_id FROM sys_department t WHERE find_in_set(#{deptId}, ancestors) ))
		</if>
	</select>

	<select id="selectUserByUserName" parameterType="String" resultMap="SysUserResult">
		<include refid="selectUserVo"/>
		where u.user_name = #{userName}
	</select>

	<select id="getUserByOpenID" parameterType="String" resultMap="SysUserResult">
		<include refid="selectUserVo"/>
		where u.openid = #{openid}
	</select>


	<select id="getUserByPhone" parameterType="String" resultMap="SysUserResult">
		select u.user_id, u.dept_id, u.user_name, u.nick_name,u.smartRealName,u.isBindSmart,
			   u.company,u.project,a.dict_label areaName,u.area,u.property,u.user_type,
			   u.email, u.avatar, u.phone, u.password, u.sex, u.status,u.online,
			   u.is_delete, u.login_ip, u.login_date, u.create_user, u.create_time, u.remark,
			   u.is_remind,u.remind_url,u.remark_name,u.remark_info,u.custom_status,u.custom_reply,
			   d.dept_id, d.p_id, d.dept_name,  d.is_delete as dept_status,
			   r.role_id, r.role_name,  r.is_delete as role_status,u.order_status
		from sys_user u
				 left join sys_department d on u.dept_id = d.dept_id
				 left join sys_role_user ur on u.user_id = ur.user_id
				 left join sys_role r on r.role_id = ur.role_id
				 left join (select dict_label,dict_value from sys_dict_data where dict_type = 'sys_area') a on a.dict_value = u.area
		where u.phone = #{phone}
	</select>


	<select id="selectUserByNickName" parameterType="String" resultMap="SysUserResult">
		<include refid="selectUserVo"/>
		where u.nick_name = #{nickName}
	</select>

	<select id="selectUserById" parameterType="Long" resultMap="SysUserResult">
		<include refid="selectUserVo"/>
		where u.user_id = #{userId}
	</select>

	<select id="checkUserNameUnique" parameterType="String" resultType="int">
		select count(1) from sys_user where user_name = #{userName} limit 1
	</select>

	<select id="checkPhoneUnique" parameterType="String" resultMap="SysUserResult">
		select user_id, phone from sys_user where phone = #{phone} limit 1
	</select>

	<select id="checkEmailUnique" parameterType="String" resultMap="SysUserResult">
		select user_id, email from sys_user where email = #{email} limit 1
	</select>

	<insert id="insertUser" parameterType="com.nanyang.academy.entity.SysUser" useGeneratedKeys="true" keyProperty="userId">
		insert into sys_user(
		<if test="userName != null and userName != ''">user_name,</if>
		<if test="nickName != null and nickName != ''">nick_name,</if>
		<if test="email != null and email != ''">email,</if>
		<if test="avatar != null and avatar != ''">avatar,</if>
		<if test="phone != null and phone != ''">phone,</if>
		<if test="sex != null and sex != ''">sex,</if>
		<if test="password != null and password != ''">password,</if>
		<if test="status != null and status != ''">status,</if>
		<if test="createUser != null and createUser != ''">create_user,</if>
		<if test="remark != null and remark != ''">remark,</if>
		<if test="userType != null and userType != ''">user_type,</if>
		<if test="company != null and company != ''">company,</if>
		<if test="project != null and project != ''">project,</if>
		<if test="area != null and area != ''">area,</if>
		<if test="property != null and property != ''">property,</if>
		<if test="openid != null and openid != ''">openid,</if>
		<if test="isRemind != null">is_remind,</if>
		<if test="remindUrl != null and remindUrl != ''">remind_url,</if>
		create_time
		)values(
		<if test="userName != null and userName != ''">#{userName},</if>
		<if test="nickName != null and nickName != ''">#{nickName},</if>
		<if test="email != null and email != ''">#{email},</if>
		<if test="avatar != null and avatar != ''">#{avatar},</if>
		<if test="phone != null and phone != ''">#{phone},</if>
		<if test="sex != null and sex != ''">#{sex},</if>
		<if test="password != null and password != ''">#{password},</if>
		<if test="status != null and status != ''">#{status},</if>
		<if test="createUser != null and createUser != ''">#{createUser},</if>
		<if test="remark != null and remark != ''">#{remark},</if>
		<if test="userType != null and userType != ''">#{userType},</if>
		<if test="company != null and company != ''">#{company},</if>
		<if test="project != null and project != ''">#{project},</if>
		<if test="area != null and area != ''">#{area},</if>
		<if test="property != null and property != ''">#{property},</if>
		<if test="openid != null and openid != ''">#{openid},</if>
		<if test="isRemind != null">#{isRemind},</if>
		<if test="remindUrl != null and remindUrl != ''">#{remindUrl},</if>
		sysdate()
		)
	</insert>

	<update id="updateUserCode" parameterType="com.nanyang.academy.entity.SysUser">
		update sys_user set code = #{code}  where user_id = #{userId}
	</update>

	<update id="updateUser" parameterType="com.nanyang.academy.entity.SysUser">
		update sys_user
		<set>
			<if test="userName != null and userName != ''">user_name = #{userName},</if>
			<if test="nickName != null and nickName != ''">nick_name = #{nickName},</if>
			<if test="openid != null and openid != ''">openid = #{openid},</if>
			<if test="email != null ">email = #{email},</if>
			<if test="phone != null ">phone = #{phone},</if>
			<if test="avatar != null and avatar != ''">avatar = #{avatar},</if>
			<if test="password != null and password != ''">password = #{password},</if>
			<if test="loginIp != null and loginIp != ''">login_ip = #{loginIp},</if>
			<if test="loginDate != null">login_date = #{loginDate},</if>
			<if test="updateUser != null and updateUser != ''">update_user = #{updateUser},</if>
			<if test="remark != null and remark != ''">remark = #{remark},</if>
			<if test="userType != null and userType != ''">user_type = #{userType},</if>
			<if test="company != null and company != ''">company=#{company},</if>
			<if test="project != null and project != ''">project=#{project},</if>
			<if test="area != null and area != ''">area=#{area},</if>
			<if test="property != null and property != ''">property=#{property},</if>
			<if test="isRemind != null">is_remind = #{isRemind},</if>
			<if test="remindUrl != null and remindUrl != ''">remind_url = #{remindUrl},</if>
			<if test="remarkName != null and remarkName != ''">remark_name = #{remarkName},</if>
			<if test="remarkInfo != null and remarkInfo != ''">remark_info = #{remarkInfo},</if>
			<if test="customStatus != null">custom_status = #{customStatus},</if>
			<if test="customReply != null">custom_reply = #{customReply},</if>
			update_time = sysdate()
		</set>
		where user_id = #{userId}
	</update>

	<update id="editUserMini" parameterType="com.nanyang.academy.entity.SysUser">
		update sys_user
		<set>
			<if test="nickName != null and nickName != ''">nick_name = #{nickName},</if>
			<if test="phone != null ">phone = #{phone},</if>
			<if test="openid != null and openid != ''">openid = #{openid},</if>
			<if test="avatar != null and avatar != ''">avatar = #{avatar},</if>
			<if test="password != null and password != ''">password = #{password},</if>
			<if test="updateUser != null and updateUser != ''">update_user = #{updateUser},</if>
			<if test="company != null and company != ''">company=#{company},</if>
			<if test="project != null and project != ''">project=#{project},</if>
			<if test="area != null and area != ''">area=#{area},</if>
			<if test="property != null and property != ''">property=#{property},</if>
			<if test="remarkName != null">remark_name = #{remarkName},</if>
			<if test="remarkInfo != null">remark_info = #{remarkInfo},</if>
			<if test="customStatus != null">custom_status = #{customStatus},</if>
			<if test="customReply != null">custom_reply = #{customReply},</if>
			update_time = sysdate()
		</set>
		where user_id = #{userId}
	</update><!--<if test="isRemind != null">is_remind = #{isRemind},</if>
			<if test="remindUrl != null and remindUrl != ''">remind_url = #{remindUrl},</if>-->


	<update id="updateUserStatus" parameterType="com.nanyang.academy.entity.SysUser">
		update sys_user set status = #{status} where user_id = #{userId}
	</update>

	<update id="updateUserReceiveMessages" parameterType="com.nanyang.academy.entity.SysUser">
		update sys_user set is_messages = #{isMessages} where user_id = #{userId}
	</update>

	<update id="updateUserOrderStatus" parameterType="com.nanyang.academy.entity.SysUser">
		update sys_user set order_status = #{orderStatus} where user_id = #{userId}
	</update>

	<update id="updateUserAvatar" parameterType="com.nanyang.academy.entity.SysUser">
		update sys_user set avatar = #{avatar} where user_name = #{userName}
	</update>

	<update id="resetUserPwd" parameterType="com.nanyang.academy.entity.SysUser">
		update sys_user set password = #{password} where user_name = #{userName}
	</update>

	<update id="updateOnline" parameterType="com.nanyang.academy.entity.SysUser">
		update sys_user set online = #{online} where user_id = #{userId}
	</update>


	<update id="bindPhone" parameterType="com.nanyang.academy.entity.SysUser">
		update sys_user set phone = #{phone} where user_id = #{userId}
	</update>
	<update id="bindSmart" parameterType="com.nanyang.academy.entity.SysUser">
		update sys_user
		set smartName = #{smartName},smartPassword = #{smartPassword}
		  ,smartRealName = #{smartRealName},isBindSmart = 1
		where user_id = #{userId}
	</update>
	<delete id="deleteUserById" parameterType="Long">
		delete from sys_user where user_id = #{userId}
	</delete>

	<delete id="deleteUserByIds" parameterType="Long">
		delete from sys_user  where user_id in
		<foreach collection="array" item="userId" open="(" separator="," close=")">
			#{userId}
		</foreach>
	</delete>

	<select id="selectAllocatedList" parameterType="com.nanyang.academy.entity.SysUser" resultMap="SysUserResult">
		select distinct u.user_id, u.dept_id, u.user_name, u.nick_name,
						u.is_remind,u.remind_url,u.remark_name,u.remark_info,
		                u.email, u.phone, u.status, u.create_time,d.dept_name
		from sys_user u
		left join sys_dept d on u.dept_id = d.dept_id
		left join sys_role_user ur on u.user_id = ur.user_id
		left join sys_role r on r.role_id = ur.role_id
		where u.is_delete = 0 and r.role_id = #{roleId}
		<if test="userName != null and userName != ''">
			AND u.user_name like concat('%', #{userName}, '%')
		</if>
		<if test="phone != null and phone != ''">
			AND u.phone like concat('%', #{phone}, '%')
		</if>
	</select>

	<select id="selectUnallocatedList" parameterType="com.nanyang.academy.entity.SysUser" resultMap="SysUserResult">
		select distinct u.user_id, u.dept_id, u.user_name, u.nick_name, u.email, u.phone,
						u.is_remind,u.remind_url,u.remark_name,u.remark_info,
		                u.status, u.create_time
		from sys_user u
		left join sys_dept d on u.dept_id = d.dept_id
		left join sys_role_user ur on u.user_id = ur.user_id
		left join sys_role r on r.role_id = ur.role_id
		where u.is_delete = 0 and (r.role_id != #{roleId} or r.role_id IS NULL)
		and u.user_id not in (select u.user_id from sys_user u inner join sys_role_user ur on u.user_id = ur.user_id and ur.role_id = #{roleId})
		<if test="userName != null and userName != ''">
			AND u.user_name like concat('%', #{userName}, '%')
		</if>
		<if test="phone != null and phone != ''">
			AND u.phone like concat('%', #{phone}, '%')
		</if>
	</select>

	<select id="getOnlineService" parameterType="String" resultMap="SysUserResult">
		select user_id,user_name,nick_name from sys_user
	 	where online = 1 and user_name != #{userName} and area = #{area} and user_type = '00'
	</select>
</mapper>
